@page "/event"

<PageTitle>Event</PageTitle>

@using SchoolEventWeb.Data
@inject NavigationManager NavigationManager
@inject EventService Service

<h2>Manage Events</h2>
<hr />

<EditForm Model=@obj OnValidSubmit="CreateEvent">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
                <div class="form-group">
                    <label for="Name" class="control-label">Name</label>
                    <input form="Name" class="form-control" @bind="@obj.Name" />
                </div>
            <div class="row">
                <div class="form-group smallcolumn">
                    <label for="Time" class="control-label">Time</label>
                    <!--<input form="Time" class="form-control" @bind="@obj.Time" /> -->
                    <InputDate @bind-Value="@obj.Time" class="form-control" />
                </div>
                <div class="form-group smallcolumn">
                    <label for="AttendancePoints" class="control-label">Attendance Point</label>
                    <input form="AttendancePoints" class="form-control" @bind="@obj.AttendancePoints" />
                </div>
                <div class="form-group smallcolumn">
                    <label for="ParticipationPoints" class="control-label">Participation Points</label>
                    <input form="ParticipationPoints" class="form-control" @bind="@obj.ParticipationPoints" />
                </div>
            </div>
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input form="Description" class="form-control" @bind="@obj.Description" />
            </div>


        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

    @if (upcomingEvents == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nam</th>
                    <th>Participation Points</th>
                    <th>Attendance Points</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ahsevent in upcomingEvents)
                {
                    <tr>
                        <td>@ahsevent.Name</td>
                        <td>@ahsevent.ParticipationPoints</td>
                        <td>@ahsevent.AttendancePoints</td>
                        <td>@ahsevent.Time.ToShortDateString()</td>
                        <td>@ahsevent.Description</td>

                    </tr>
                }
            </tbody>
        </table>
    }
</EditForm>



@code {
    AhsEvent obj = new AhsEvent();
    List<AhsEvent> upcomingEvents = new List<AhsEvent>();

    protected override async Task OnInitializedAsync()
    {
        upcomingEvents = Service.GetUpcomingEvents();
    }

    protected async void CreateEvent()
    {
        Service.InsertEvent(obj);
        upcomingEvents = Service.GetUpcomingEvents();
        //NavigationManager.NavigateTo("Employees");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}