@page "/event"

<PageTitle>Add Events</PageTitle>

@using SchoolEventWeb.Data
@inject NavigationManager NavigationManager
@inject EventService Service

<h2>Add Events</h2>
<hr />

<EditForm Model=@obj OnValidSubmit="CreateEvent">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="form-group col-25" >
                    <label for="Name" class="control-label">Name</label>
                    <input form="Name" class="form-control" @bind="@obj.Name" />
                </div>
                <div class="form-group col-25">
                    <label for="Name" class="control-label">Event Type</label>
                    <select class="form-control" @bind="@obj.Type" style="width:150px">
                        <option value=Sport>Sport</option>
                        <option value=Non-Sport>Non-Sport</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group smallcolumn">
                    <label for="Time" class="control-label">Time</label>
                    <InputDate @bind-Value="@obj.EventDate" class="form-control" />
                </div>
                <div class="form-group smallcolumn">
                    <label for="AttendancePoints" class="control-label">Attendance Points</label>
                    <input form="AttendancePoints" class="form-control" @bind="@obj.AttendancePoints" />
                </div>
                <div class="form-group smallcolumn">
                    <label for="ParticipationPoints" class="control-label">Participation Points</label>
                    <input form="ParticipationPoints" class="form-control" @bind="@obj.ParticipationPoints" />
                </div>
            </div>

            <div class="form-group">
                <label for="Requirement" class="control-label">Requirements</label>
                <input form="Requirement" class="form-control" @bind="@obj.Requirement" />
            </div>


            </div>
        </div>

    <br/>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Add" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

    @if (upcomingEvents == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Participation Points</th>
                    <th>Attendance Points</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Requirements</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var ahsevent in upcomingEvents)
                {
                    <tr>
                        <td>@ahsevent.Name</td>
                        <td>@ahsevent.ParticipationPoints</td>
                        <td>@ahsevent.AttendancePoints</td>
                        <td>@ahsevent.Time</td>
                        <td>@ahsevent.Type</td>
                        <td>@ahsevent.Requirement</td>

                    </tr>
                }
            </tbody>
        </table>
    }
</EditForm>



@code {
    AhsEvent obj = new AhsEvent();
    List<AhsEvent> upcomingEvents = new List<AhsEvent>();

    protected override async Task OnInitializedAsync()
    {
        upcomingEvents = Service.GetAllEvents();
    }

    protected async void CreateEvent()
    {
        Service.InsertEvent(obj);
        upcomingEvents = Service.GetAllEvents();
        //NavigationManager.NavigateTo("Employees");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}