@page "/"

<PageTitle>Welcome to AHS Events</PageTitle>

@using SchoolEventWeb.Data
@inject EventService Service

<h1>Trojans Upcoming Events</h1>

<p>Participate or attend events and win prizes! There are lucky prizes too!</p>

@if (ahsevents == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Event</th>
                <th>Participation</th>
                <th>Attendance</th>
                <th>Date</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var ahsevent in ahsevents)
            {
                <tr>
                    <td>@ahsevent.Name</td>
                    <td>@ahsevent.ParticipationPoints pts</td>
                    <td>@ahsevent.AttendancePoints pts</td>
                    <td>@ahsevent.Time.ToShortDateString()</td>
                    <td>@ahsevent.Type</td>
                    <td>@ahsevent.Description</td>

                </tr>

                <!--
                <div class="tile-border">
                    <div class="tile-header">
                        <span><h6 class="margin-btm-0">@ahsevent.Name</h6> </span>
                        <span><h6 class="margin-btm-0">@ahsevent.Time.ToShortDateString()</h6></span>
                    </div>
                    <hr class="tile-hr" />
                    <div class="flex-box">
                        <p>Attendance: <b>@ahsevent.AttendancePoints</b></p>
                        <p>Participation: <b>@ahsevent.ParticipationPoints</b></p>
                    </div>
                    <p class="margin-inline multiline-ellipsis">@ahsevent.Description</p>
                </div> -->
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AhsEvent> ahsevents;

    protected override async Task OnInitializedAsync()
    {
        ahsevents = Service.GetUpcomingEvents();
    }
}