@page "/login"

@using SchoolEventWeb.Data
@inject NavigationManager NavManager

<h3>Login</h3>

<EditForm Model=@user OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="username">Email:</label>
        <input id="username" class="form-control" @bind="@user.Email" />
        <ValidationMessage For="@(() => user.Email)" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" class="form-control" @bind="user.Password" />
        <ValidationMessage For="@(() => user.Password)" />
    </div>
    <div>
            <label style="color: red">@loginError</label>
    </div>
    <br />
    <input type="submit" class="btn btn-primary" @onclick="@HandleValidSubmit" value="Login" />
</EditForm>

    @code {

        private string type;
        public string name;
        private string loginError;
        private User user = new User();

        private void HandleValidSubmit()
        {
            Console.WriteLine("OnValidSubmit");
            HttpClient httpClient = new HttpClient();

            if (!string.IsNullOrWhiteSpace(user.Email) && !string.IsNullOrWhiteSpace(user.Password))
            {
                // Perform login logic here
                var result = httpClient.GetStringAsync("http://localhost:8080/user/authenticate?email=" + user.Email + "&password=" + user.Password).Result;

                if (result == "0")
                {
                    loginError = "Invalid username or password entered";
                    return;
                }

                // result : admin,kallisti or student,tharun
                string[] words = result.Split(',');
                type = words[0];
                name = words[1];

                MainLayout.MainLayoutInstance.ShowLogout("Hi " + name + "!");

                if (type == "admin")
                {
                    NavMenu.MenuInstance.ShowAdminMenu();
                    NavManager.NavigateTo("/");
                }
                else if (type == "student")
                {

                    NavManager.NavigateTo("/");
                }
               
            }
        }

    }
