@page "/winner"

<PageTitle>AHS Event Participation Winners</PageTitle>

@using SchoolEventWeb.Data
@inject EventService Service

<h1>Event Participation Winners</h1>

<EditForm Model=@winners OnValidSubmit="ShowWinners">
<div class="col-md-8">
    <div class="row">

        <div class="form-group col-25">
            <label for="Name" class="control-label">Select Quarter</label>
            <select class="form-control" style="width:150px" @bind="@selectedQuarterName">
                @foreach (var q in quarters)
                {
                    <option value="@q.Name">
                        @q.Name
                    </option>
                }
            </select>
        </div>

    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Show Winners" />
        </div>
    </div>
</div>

@if (winners == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Grade</th>
                <th>Student Id</th>
                <th>Name</th>
                <th>Prize Type</th>
                <th>Prize</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var winner in winners)
            {
                <tr>
                    <td>@winner.StudentGrade</td>
                    <td>@winner.StudentId</td>
                    <td>@winner.StudentName</td>
                    <td>@winner.PrizeType</td>
                    <td>@winner.Prize</td>
                </tr>
            }
        </tbody>
    </table>
    }
</EditForm>

    @code {

    private List<Quarter> quarters;
    private IEnumerable<SchoolEventWeb.Data.Winner> winners;
    private string selectedQuarterName;

    protected override async Task OnInitializedAsync()
    {
        quarters = Service.GetQuarters();
        selectedQuarterName = quarters[0].Name;
        winners = Service.GetWinners(selectedQuarterName);
    }

    protected async void ShowWinners()
    {
        winners = Service.GetWinners(selectedQuarterName);
    }
}